
*{

    margin: 0;
    padding: 0;
}

/* This is nav bar Css */

.nav-continer{
    background-color: rgba(0, 0, 0, 0.865);
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.logo-photo{

    width: 120px; 
}

.menu-bar ul {

    display: flex;

}
    
  
li {
    
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px;
}


li:hover{

    color: blue;
}
/* This is nav bar Css */

/* This is banner CSS */

.banner{

    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(/Image/picture/background.png), linear-gradient(45deg,rgba(0, 0, 0, 0.835), black);
}
.banner h1{

    font-size: 50px;
    color: white;

}

.banner p{

    font-size: 18px;
    color: white ;
    margin-top: 20px;
}


.banner .btn{

    background-color: red;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 20px;
    color: white;
    border-radius: 3px ;

}

.banner .btn:hover{

    background-color: green;

}

.banner-img{

    width: 300px;

}

/* This is About us section */
.about-container{
    width: auto;
    height: 350px;
    
    display: flex;
    justify-content: space-around;
}
#banner-heading{

    font-size: 50px; 
    text-align: center;
    padding: 20px;
}
.about-text h2{

   padding-top: 30px;

}
.about-text p{

    padding-top: 20px;
 
 }

 .about-text .btn{

    background-color: red;
    width: 120px;
    height: 40px;
    border: none;
    margin-top: 20px;
    color: white;
    border-radius: 3px ;

}

.about-text .btn.btn:hover{
    background-color: green;

}

/* This section is for services */

.service-container{

    background-image: url(/Image/picture/background.png), linear-gradient(45deg,rgba(0, 0, 0, 0.835), black);


}

.service-subcontiner{
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    
}
#banner-headline{

    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.box{
    width: 220px;
    height: 300px;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 2px -2px 34px -1px white;
    

}

.box .service-image{
    width: 100px;

}
.service-title{
    padding-top: 20px;
}
.service-details{
    padding-top: 10px;
}

.service-btn{

    width: 60px;
    height: 30px;
    color: white;
    margin-top: 10px;
    border-radius: 3px;
    background-color: rgba(245, 245, 245, 0.575);

    border: none;
}
.service-btn:hover{

    background-color: green;
}

/* This is for Footer */

.footer-container{
    
    height: 600px;
 
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.843), black);
  
}

.footer-subcontainer{
    padding-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-box-1{

    width: 280px;
    height: 270px;
    
    
}
.footer-logo{
    padding: 30px;
    
    width: 190px;
}
.footer-text-1{

    text-align: justify;
    color: white;
    padding: 12px;
    line-height: 25px;
}


.footer-box-2{

    width: 280px;
    height: 270px;
    color: white;

}

.footer-box-2 h3{

    padding-top: 40px ;
    padding-bottom: 40px;
    padding-left: 50px;
    
}
.footer-box-2 p{
    margin-top: 10px;
    padding-left: 50px;

}

.copyright{
    height: 100px;
    background-image: white;
    

}

.copyright{
   
    width: 900px;
    position: relative;
    top: 150px;
    left: 250px;
}
.copyright p{
    margin-top: 10px;
    text-align: center;

    color: white;
}
